#main2{
    float: left;
    
}
#main11{
    float: right;
    color: yellow;
   
    
    
}
#log1{
    margin-top: 3%;
}
#main{
    background-color: navy;
    width: 90%;
}
#main1{
    color: white;
}
#main55{
    margin-left: 7%;
    background-color: yellow;
}