
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" id="main">
      <a class="navbar-brand" routerLink="/" id="main1">Todos list App</a>
      </div>
      <div id="main11">
        <button type="button" (click)="btnClick()" >Log out</button>
    </div>
    
  </nav>
  <!-- <h2> {{}}</h2> -->
  
  
<div class="container">
    <h3 class="text-center mb-3"  id="main2">Todo List </h3><br>

    
    <!-- <app-about (childEvent)="message=$event"> </app-about> -->
  
        
    
    
    <!-- <app-login (logadd)="addlog($event)"> </app-login> -->
    

    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    
    <div *ngIf="this.todos.length===0; else elseBlock">No Todos to display</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoedit)="editTodo($event)" (todoDelete)="deleteTodo(i)" (todoCheckbox)="toggleTodo($event)">
            </app-todo-item>
        </div>
    </ng-template>
</div> 
