 
 .container{
     
    padding: 20%;
    
    
   

}
.pr1{
   background-image: linear-gradient(to right,blue , pink);
   height: 100%;
   
   margin-bottom: 0%;
}
#main12{
   float: right;
}
#main22{
   background-color:white;
   border-radius: 10%;
   padding-top: 30%;
   padding-bottom: 30%;
   padding-left: 5%;
   padding-right: 5%;
  

}
#main21{
   margin-left: 30%;
}
#main39{
   background-image: linear-gradient(to right,blue , pink);

}

