#post12{
    text-align: center;
    background-color: chartreuse;
    margin-top: 13%;
    margin-left: 13%;
    margin-bottom: 13%;
    margin-right:13%;
    padding: 12%;
}

ul li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 9px;
  }
  