/*  
 .container{
     
    padding: 20%;
    
    
   

}
.pr1{
   background-image: linear-gradient(to right,blue , pink);
   height: 100%;
   
   margin-bottom: 0%;
}
#main12{
   float: right;
} */